body {

    background-color: rgb(160, 194, 178);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
.date{
    line-height: 2;
    background-color: rgb(160, 194, 178);
    color: rgb(226, 171, 31);
    font-size: 50px;
}
.room{
    background-color: rgb(160, 194, 178);
    color: rgb(228, 55, 6);
    font-size:40px;
}
#schedule{
    text-align: center;
}
/*@media(max-width: 1080px) {
    .date{
        font-size: 40px;
    }
    .room{
        font-size: 30px;
    }
}*/
