body {
    background-color: rgb(160, 194, 178);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
.date{
    line-height: 2;
    background-color: rgb(160, 194, 178);
    color: rgb(237, 9, 9);
    font-size: 36px;
    word-break: keep-all;
    white-space: nowrap;
}
.room{
    background-color: rgb(160, 194, 178);
    color: rgb(36, 6, 228);
    font-size: 24px;
    word-break: keep-all;
    white-space: nowrap;
}
#schedule{
    text-align: center;
}
@media(max-width: 1080px) {
    .date{
        font-size: 28px;
    }
    .room{
        font-size: 18px;
    }
}

